
<!doctype html>
<!--Nav bar-->
  <mat-toolbar color="primary">
    <mat-toolbar-row>
      <button mat-icon-button>
        <mat-icon (click)="sidenav.toggle()">menu</mat-icon>
      </button>
      <h1>Angular II</h1>
        <a mat-list-item [routerLink]="'/dashboard'"> Dashboard </a>
        <a mat-list-item [routerLink]="'/heroes'"> Heroes </a>
        <a mat-list-item [routerLink]="'/dashboard'"> Dashboard </a>
        <a mat-list-item [routerLink]="'/heroes'"> Heroes </a>
        <a mat-list-item [routerLink]="'/dashboard'"> Dashboard </a>
        <a mat-list-item [routerLink]="'/heroes'"> Heroes </a>
    </mat-toolbar-row> 
  </mat-toolbar>
  
  <!--
  <mat-sidenav-container>
    <mat-sidenav #sidenav mode="side" opened="true" class="side-container">
      <mat-nav-list>
  
        <a mat-list-item [routerLink]="'/dashboard'"> Dashboard </a>
        <a mat-list-item [routerLink]="'/heroes'"> Heroes </a>
  
      </mat-nav-list>
    </mat-sidenav>
    <mat-sidenav-content class="content-container">
      <div style="height: 88vh;">
        <router-outlet></router-outlet>
      </div>
    </mat-sidenav-content>
  </mat-sidenav-container>
-->

<!--body-->
<body class="mat-typography">
  <app-root></app-root>
</body>



<!--Footer-->
<router-outlet></router-outlet>
<footer  class=" footer fixed-bottom">
  <span>
  <div>
      <img src="assets/logo.png" id="img2">
  </div>
    <div>

<label>Follow us on:</label> <br>
<img src="assets/tiktoklogo.png" id="socialslogo">
<label> @resinbypaigea</label> <br>
<img src="assets/instagramlogo.png" id="socialslogo">
<label> @resinbypaigea</label>
</div>
</span>
</footer>

